
body {
    background-color: #8ba1bb;
    font-family: Arial;
    margin: 0;
} 

p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

div.contenu {
    background-color: white;
    margin: 0px 10% 80px 10%;
    padding: 30px;
    min-width: 350px;
}

h1 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

p.description {
    text-align: center;
    max-width: 400px; 
    display: inline-block;
    font-size: 14px;
}

.centre {
    text-align: center;
    width: 100%;
}

div.categorie {
    margin-bottom: -16px;
    margin-top: 60px;
}

div.ligne {
    background-color: black;
    height: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

div.info {
    position: relative;
}

table.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #6c829dc0;
    color : white;
    height: 80px;
}

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

table.info td {
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}

table.info th {
    vertical-align: bottom;
    padding-bottom: 8px;
}
